
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>Test</title>

    <!-- Bootstrap core CSS -->
    <link href="js/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">

  </head>

  <body ng-app="photoSticker">
    <div class="container" ng-controller="photoStickerCtrl">

      <div class="page-header">
        <h1 class="text-center text-underline">PHOTO STICKER</h1>
      </div>

     <div class="row" >
         <div class="col-md-12">
            <button type="button"  ng-show="hasPhotoUploaded" class="btn btn-success pull-right" ng-click="clearPhoto()">START OVER</button>
             <br>
             <hr>
         </div>
     </div>
      <div class="row" >
        <div class="col-md-9">

            <form name="photoForm" ng-show="!hasPhotoUploaded">
                <photo-upload type="photo"></photo-upload>
            </form>
            <div id="droppable" style="position: relative" ng-style="{ 'height': blobPhoto.height, 'width': blobPhoto.width }" ng-show="hasPhotoUploaded"  ondrop="drop(event)" ondragover="allowDrop(event)">
                <img height="{{blobPhoto.height}}" width="{{blobPhoto.width}}" ng-src="{{blobPhoto.src}}"  />
            </div>
        </div>
        <div class="col-md-2 col-md-offset-1">
            <form name="stickerForm">
                <photo-upload type="sticker"></photo-upload>
            </form>

           <div class="row" ng-repeat="sticker in stickerArray">
             <br>
             <br>
             <div class="col-md-6 text-center">
                <img draggable="true" ondragstart="drag(event)" ng-src="{{sticker.src}}" width="100" height="100" />
             </div>
           </div>
        </div>
      </div>

    </div> <!-- /container -->

    <script src="js/jquery/jquery.min.js"></script>
    <script src="js/angular/angular.min.js"></script>
    <script src="js/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="js/ng-file-upload/ng-file-upload-all.min.js"></script>

    <!-- CUSTOM JS FILES -->
    <script src="js/custom/directives.js"></script>
    <script src="js/custom/controllers.js"></script>

  </body>
</html>
